<div>
  <ngb-progressbar type="success" [value]="deliveryData?.length * 100/matchLength"></ngb-progressbar>
</div>
<div>
  <ngb-tabset #tabbedContainer="ngbTabset">
    <ngb-tab title={{team1}} [id]="team1">
      <ng-template ngbTabContent>
        <ul>
          <li *ngFor="let batsman of bastmenRuns['1']">
            {{batsman.name}} {{batsman.runs}} {{batsman.ballFaced}}
          </li>
        </ul>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="{{team2}}" [id]="team2">
      <ng-template ngbTabContent>
        <ul>
          <li *ngFor="let batsman of bastmenRuns['2']">
            {{batsman.name}} {{batsman.runs}} {{batsman.ballFaced}}
          </li>
        </ul>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>